<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Inkwell | Dune</title>
  <link rel="stylesheet" href="/css/dune.css">
</head>
<body>
  <!-- navbar -->
  <div class="container">
    <div class="container__navbar">
      <ul class="navbar__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <span class="navbar__logo">Inkwell</span>

      <div class="navbar__login-cart">
        {{#if user }}
          <a href="/profile" class="navbar__username">Profile</a>
          <a href="/auth/logout" class="navbar_logout__link">Logout</a>
        {{else}}
          <div class="navbar__login">
            <a href="/login" class="navbar_login__link">
              <img src="/images/9041309_person_fill_icon.png" class="navbar__login__img" alt="">
              <span>Login</span>
            </a>
          </div>
        {{/if}}

        
        <a href="">
          <div class="navbar__cart">
            <img src="/images/shopping-cart.png" class="navbar__cart__img" alt="">
          </div>
        </a>


      </div>
    </div>
  </div>

  <!-- end of navbar -->


  {{!-- book description --}}

  <div class="book-description__container">
    <div class="book-description__flex">
      <div class="book-description__cover">
        <img src="/images/library images/carrie-book-cover.jpg" class="book-cover-img">
      </div>


      <div class="book-description__info">
        <div class="book-info__copy">
          <h2 class="book-info__copy__title">Carrie</h2>
          <p class="book-info__copy__author"><b>Author:</b> Stephen King</p>
          <p class="book-info__copy__genre"><b>Genre:</b> Horror</p>
          <p class="book-info__copy__date"><b>Date:</b> April 1974</p>
          <p class="book-info__copy__price">$7.48</p>
          <p class="book-info__copy__description"><b>Description:</b></p>
          <p class="book-info__copy__description-content">"Carrie" is a horror novel written by Stephen King. It tells the story of Carrie White, a high school girl who possesses telekinetic powers. Bullied by her classmates and abused by her religious fanatic mother, Carrie's powers manifest in increasingly destructive ways as she struggles to control them. The novel culminates in a violent and tragic prom night, where Carrie unleashes her powers in a fit of rage. "Carrie" explores themes of adolescence, isolation, and the consequences of unchecked cruelty.</p>
        </div>
      </div>
    </div>
  </div>

  {{!-- end book description --}}


  {{!-- reviews section --}}

<div class="responsive-container-block big-container">
  <div class="responsive-container-block bg">
    <p class="text-blk title">
      Reviews
    </p>
    <p class="text-blk desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit massa ante viverra non maecenas. Faucibus amet quis duis egestas.
    </p>
    <div class="responsive-container-block blocks">
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-1.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              Jane Doe
            </p>
            <p class="text-blk desig">
              CEO
            </p>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-2.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              John Smith
            </p>
            <p class="text-blk desig">
              Web developer
            </p>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content bottom">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-3.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              Jordan Welch
            </p>
            <p class="text-blk desig">
              Entrepreneur
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  



</body>
</html>