<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inkwell | library</title>
  <link rel="stylesheet" href="/css/library.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  {{!-- boxicons --}}
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <!-- navbar -->
  <div class="container">
    <div class="container__navbar">
      <ul class="navbar__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/library-page2">Library</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <span class="navbar__logo">Inkwell</span>

      <div class="navbar__login-cart">
        {{#if user }}
          <a href="/profile" class="navbar__username">Profile</a>
          <a href="/auth/logout" class="navbar_logout__link">Logout</a>
        {{else}}
          <div class="navbar__login">
            <a href="/login" class="navbar_login__link">
              <img src="/images/9041309_person_fill_icon.png" class="navbar__login__img" alt="">
              <span>Login</span>
            </a>
          </div>
        {{/if}}

        <div class="navbar__cart">
          <img src="/images/shopping-cart.png" class="navbar__cart__img" alt="">
          <div class="navbar__cart-panel">
            <h2 class="navbar__cart-panel__title">Your cart</h2>
            {{!-- content --}}
            <div class="navbar__cart-content">

            </div>
            {{!-- Total --}}
            <div class="total">
              <div class="total-title">Total</div>
              <div class="total-price">$0</div>
            </div>
            {{!-- But button --}}
            <button type="button" class="btn-buy">Buy Now</button>
            {{!-- Cart close --}}
            <i class='bx bx-x' id="close-cart"></i>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- end of navbar -->


  <!-- library section -->

  <div class="page__container">
    <div class="page__container__box">
      <h1 class="page__container__h1">Library</h1>

      <div class="page__container__searching">
        <input type="text" id="find" placeholder="Search by title or author" class="page__container__search-box" onkeyup="search()">
      </div>

      <!-- dropdowns -->
      <div class="popup">
        <div class="popup__box">
          <a href="#" class="popup__link">
            <div class="popup__genres">
              <span>Genres</span>
              <img src="/images/211687_down_arrow_icon.png" class="popups__genres__arrow-down">
            </div>
          </a>
          <div class="popup__show-ul">
            <ul class="popup__ul">
              <li><a href="">Fantasy</a></li>
              <li><a href="">Psychology</a></li>
              <li><a href="">Fiction</a></li>
              <li><a href="">Non-fiction</a></li>
              <li><a href="">Horror</a></li>
              <li><a href="">Philosophy</a></li>
              <li><a href="">Dystopia</a></li>
              <li><a href="">Novel</a></li>
              <li><a href="">Crime</a></li>
              <li><a href="">Self-help</a></li>
              <li><a href="">Personal growth</a></li>
              <li><a href="">Leadership</a></li>
              <li><a href="">Diary</a></li>
              <li><a href="">Finance</a></li>
              <li><a href="">Fable</a></li>
              <li><a href="">Treatise</a></li>
              <li><a href="">Thriller</a></li>
              <li><a href="">Diet</a></li>
              <li><a href="">Biography</a></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>


      <!-- books -->

      <section class="library__container">
        <!-- HP: Deathly hallows -->
        <div class="library__container__block product">
          <a href="/hallows">
            <div class="library__container__book-cover">
              <img src="/images/library images/harrydeathlyhallows.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">HP: Deathly hallows</p>
              <p class="book-info__copy__author"><b>Author:</b> J.K. Rowling</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Fantasy</p>
              <p class="book-info__copy__date"><b>Date:</b> July 2007</p>
              <p class="book-info__copy__price">$16.85</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- idiot -->
        <div class="library__container__block product">
          <a href="/idiot">
            <div class="library__container__book-cover">
              <img src="/images/library images/idiot.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Idiot</p>
              <p class="book-info__copy__author"><b>Author:</b> F. Dostoevsky</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel</p>
              <p class="book-info__copy__date"><b>Date:</b> September 1867</p>
              <p class="book-info__copy__price">$14.20</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- Man and his symbols -->
        <div class="library__container__block product">
          <a href="/symbols">
            <div class="library__container__book-cover">
              <img src="/images/library images/jung-manhissymbols.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Man and his symbols</p>
              <p class="book-info__copy__author"><b>Author:</b> Carl Jung</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Self-help</p>
              <p class="book-info__copy__date"><b>Date:</b> August 1964</p>
              <p class="book-info__copy__price">$8.99</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- HP: Goblet of fire -->
        <div class="library__container__block product">
          <a href="/goblet">
            <div class="library__container__book-cover">
              <img src="/images/library images/harrygobletoffire.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">HP: Goblet of fire</p>
              <p class="book-info__copy__author"><b>Author:</b> J.K. Rowling</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel, Fantasy</p>
              <p class="book-info__copy__date"><b>Date:</b> July 2000</p>
              <p class="book-info__copy__price">$16.93</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- HP: Philosopher's Stone -->
        <div class="library__container__block product">
          <a href="/philosopher">
            <div class="library__container__book-cover">
              <img src="/images/library images/harryphilosohersstone.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">HP: Philosopher's Stone</p>
              <p class="book-info__copy__author"><b>Author:</b> J.K. Rowling</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel, Fantasy</p>
              <p class="book-info__copy__date"><b>Date:</b> June 1997</p>
              <p class="book-info__copy__price">$12.07</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- House of the dead -->
        <div class="library__container__block product">
          <a href="/house">
            <div class="library__container__book-cover">
              <img src="/images/library images/house-of-the-dead.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">House of the dead</p>
              <p class="book-info__copy__author"><b>Author:</b> F. Dostoevsky</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel, Philosophy</p>
              <p class="book-info__copy__date"><b>Date:</b> November 1862</p>
              <p class="book-info__copy__price">$11.99</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- Maps of meaning -->
        <div class="library__container__block product">
          <a href="/maps">
            <div class="library__container__book-cover">
              <img src="/images/library images/mapsofmeaning.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Maps of meaning</p>
              <p class="book-info__copy__author"><b>Author:</b> J. Peterson</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Non-fiction, Self-help</p>
              <p class="book-info__copy__date"><b>Date:</b> March 1999</p>
              <p class="book-info__copy__price">$37.95</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- Martin Eden -->
        <div class="library__container__block product">
          <a href="/martin">
            <div class="library__container__book-cover">
              <img src="/images/library images/martin-eden.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Martin Eden</p>
              <p class="book-info__copy__author"><b>Author:</b> Jack London</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel, Fiction</p>
              <p class="book-info__copy__date"><b>Date:</b> September 1909</p>
              <p class="book-info__copy__price">$10.99</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- HP: Sorcerer's Stone -->
        <div class="library__container__block product">
          <a href="/sorcerer">
            <div class="library__container__book-cover">
              <img src="/images/library images/harrysorcerers.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">HP: Sorcerer's Stone</p>
              <p class="book-info__copy__author"><b>Author:</b> J.K. Rowling</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Novel, Fantasy</p>
              <p class="book-info__copy__date"><b>Date:</b> June 1997</p>
              <p class="book-info__copy__price">$16.32</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- Rebirth of the Soul -->
        <div class="library__container__block product">
          <a href="/rebirth">
            <div class="library__container__book-cover">
              <img src="/images/library images/jungrevirthofthesoul.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Rebirth of the Soul</p>
              <p class="book-info__copy__author"><b>Author:</b> Carl Jung</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Self-help, Psychology</p>
              <p class="book-info__copy__date"><b>Date:</b> February 2023</p>
              <p class="book-info__copy__price">$14.99</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- Mastery -->
        <div class="library__container__block product">
          <a href="/mastery">
            <div class="library__container__book-cover">
              <img src="/images/library images/masteryRobert.png" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">Mastery</p>
              <p class="book-info__copy__author"><b>Author:</b> R. Greene</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Non-fiction, Self-help</p>
              <p class="book-info__copy__date"><b>Date:</b> November 2012</p>
              <p class="book-info__copy__price">$14.16</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>

        <!-- The Mind of the Leader -->
        <div class="library__container__block product">
          <a href="/leader">
            <div class="library__container__book-cover">
              <img src="/images/library images/mindoftheleaderKevin.jpg" alt="" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">The Mind of a Leader</p>
              <p class="book-info__copy__author"><b>Author:</b> Kevin Anderson</p>
              <p class="book-info__copy__genre"><b>Genre:</b> Self-help, Leadership</p>
              <p class="book-info__copy__date"><b>Date:</b> March 2018</p>
              <p class="book-info__copy__price">$16.19</p>
            </div>

            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">
                Add to cart
              </button>
            </div>

          </div>
        </div>


      </section>
      
      <!-- pagination -->
      <div class="pagination">
        <a href="/library" class="prev">&laquo; Previous</a>
        <a href="/library">1</a>
        <a href="/library-page2" class="active">2</a>
        <a href="/library-page3">3</a>
        <a href="/library-page4">4</a>
        <a href="/library-page3" class="next">Next &raquo;</a>
      </div>
      

    </div>
  </div>

  <script src="/js/filter-search.js"></script>
  <script src="/js/onclick-genres.js"></script>
  <script src="/js/certain-genre.js"></script>
  <script src="/js/cart.js"></script>
</body>
</html>