<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Inkwell | Dune</title>
  <link rel="stylesheet" href="/css/dune.css">
</head>
<body>
  <!-- navbar -->
  <div class="container">
    <div class="container__navbar">
      <ul class="navbar__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <span class="navbar__logo">Inkwell</span>

      <div class="navbar__login-cart">
        {{#if user }}
          <a href="/profile" class="navbar__username">Profile</a>
          <a href="/auth/logout" class="navbar_logout__link">Logout</a>
        {{else}}
          <div class="navbar__login">
            <a href="/login" class="navbar_login__link">
              <img src="/images/9041309_person_fill_icon.png" class="navbar__login__img" alt="">
              <span>Login</span>
            </a>
          </div>
        {{/if}}

        
        <a href="">
          <div class="navbar__cart">
            <img src="/images/shopping-cart.png" class="navbar__cart__img" alt="">
          </div>
        </a>


      </div>
    </div>
  </div>

  <!-- end of navbar -->


  {{!-- book description --}}

  <div class="book-description__container">
    <div class="book-description__flex">
      <div class="book-description__cover">
        <img src="/images/library images/harryphilosohersstone.jpg" class="book-cover-img">
      </div>


      <div class="book-description__info">
        <div class="book-info__copy">
          <h2 class="book-info__copy__title">HP: Philosopher's Stone</h2>
          <p class="book-info__copy__author"><b>Author:</b> J.K. Rowling</p>
          <p class="book-info__copy__genre"><b>Genre:</b> Novel, Fantasy</p>
          <p class="book-info__copy__date"><b>Date:</b> June 1997</p>
          <p class="book-info__copy__price">$12.07</p>
          <p class="book-info__copy__description"><b>Description:</b></p>
          <p class="book-info__copy__description-content">"Harry Potter and the Philosopher's Stone" (titled "Harry Potter and the Sorcerer's Stone" in the US) is the first book in J.K. Rowling's iconic series. It follows the journey of Harry Potter, a young orphan who discovers he is a wizard on his eleventh birthday and is invited to attend Hogwarts School of Witchcraft and Wizardry. As Harry begins his magical education, he learns about his mysterious past, his destiny as the Boy Who Lived, and the dark wizard Voldemort, who killed his parents and seeks to return to power. With the help of his friends Ron and Hermione, Harry embarks on a quest to uncover the truth about his parents' deaths and prevent Voldemort's return.</p>
        </div>
      </div>
    </div>
  </div>

  {{!-- end book description --}}


  {{!-- reviews section --}}

<div class="responsive-container-block big-container">
  <div class="responsive-container-block bg">
    <p class="text-blk title">
      Reviews
    </p>
    <p class="text-blk desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit massa ante viverra non maecenas. Faucibus amet quis duis egestas.
    </p>
    <div class="responsive-container-block blocks">
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-1.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              Jane Doe
            </p>
            <p class="text-blk desig">
              CEO
            </p>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-2.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              John Smith
            </p>
            <p class="text-blk desig">
              Web developer
            </p>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-1 wk-tab-1 wk-mobile-1 wk-ipadp-1 content bottom">
        <p class="text-blk info-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
        </p>
        <div class="responsive-container-block person">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 icon-block">
            <img class="profile-img" src="/images/review-3.avif">
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text-block">
            <p class="text-blk name">
              Jordan Welch
            </p>
            <p class="text-blk desig">
              Entrepreneur
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  



</body>
</html>