@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
}

:root {
  --black: black;
  --white: white;
  --light-grey: rgba(0, 0, 0, 0.5);
  --dark-grey:rgba(0, 0, 0, 0.75);

}
body {
  background-color: var(--black);
}

/* ------------------------navbar----------------------------------- */

.container {
  width: 100%;

}

.container__navbar {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.navbar__ul {
  display: flex;
  gap: 25px;

}

.navbar__ul a {
  text-decoration: none;
  color: var(--white);
}

.navbar__logo {
  color: var(--white);
  font-weight: 800;
  font-size: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__login__img {
  width: 20px;
}

.navbar__cart__img {
  width: 20px;
}



.navbar__login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__login {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 35px;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.navbar_login__link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--black);

}

.navbar__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------------end of navbar----------------------------------- */

/* ------------------------hero section----------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.hero__paragraph {
  color: var(--white);
  width: 650px;
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 500px;
  height: 60px;
  background-color: var(--white);
  border-radius: 8px;
  font-size: 26px;
  font-weight: 800;
  cursor: pointer;
  border: none;
}

.hero__btn__link {
  text-decoration: none;
}

/* end of hero section */

.navbar__username {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.navbar_logout__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}



/* media queries */
/* min-width 1025px, large screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero__img {
        width: 440px;
        margin-top: -50px;

    }
    .hero__paragraph {
        font-size: 18px;
        margin-top: 0px;
    }
    .hero__btn {
        width: 350px;
        height: 50px;
        font-size: 22px;
        margin-top: 15px;
    }
}
